/* Gradient transparent - color - transparent */
hr.hr-style2 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Custom styling */

.my0 {
  margin-top: 10px;
}

#textAfterButton {
  margin-left: 10px;
}

#loginResult, #registerResult, .functionResult {
  color: red;
}

#inboxNavDiv, #newMsgNavDiv {
  margin-top: -34px;
  margin-bottom: -18px;
}

#inboxHeader, #newMsgHeader {
  margin-bottom: -12px;
}

#englishMsgInput, #morseMsgInput, #recipientInput {
  margin-bottom: 6px;
}
